@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "User List";
    Layout = "_Layout";
}

    <h3 class="text-center">
        User List
    </h3>
<hr />

<table class="table table-striped text-center display" id="userTable">
    <thead class="table-dark">
    <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Username</th>
        <th scope="col">CreatedDate</th>
        <th scope="col">#</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.FirstName</th>
                <td>@user.LastName</td>
                <td>@user.UserName</td>
                <td>@user.CreatedDate</td>
                <td> <partial name="_ButtonPartial" model="user.Id" /> </td>
            </tr>
        }

    </tbody>
</table>

