@model ProductCategory

@{
    ViewData["Title"] = "Create Category";
    Layout = "_Layout";
}

<h3 class="text-center">
    Create Product Category
</h3>
<hr />

<div>
    <a class="btn btn-outline-info" asp-area="Admin"
       asp-controller="ProductCategory" asp-action="Index">
        <i class="fas fa-arrow-left"> </i>
        &nbsp; Back to List
    </a>
</div>

<br />
<form asp-action="Create" method="post">
    <div class="card">
        <div class="card-header text-danger" asp-validation-summary="All">

        </div>
        <div class="card-body">
            <div class="row">
                
                <div class="offset-md-3 col-md-6">
                    <input asp-for="Category" class="form-control"
                           placeholder="Enter Category Name"/>
                </div>
                
                <div class="offset-md-3 col-md-2 mt-2">
                    <input type="submit" class="btn btn-outline-primary"/>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

