@using MyOnlineShop.Models

@model ProductCategory

@{
    ViewData["Title"] = "Create Category";
    Layout = "_Layout";
}

<h3 class="text-center">
    Create Product Category
</h3>
<hr />

<div>
    <a class="btn btn-outline-info" asp-area="Admin" asp-controller="ProductCategory" asp-action="Index">Product-Category</a>
</div>