@using MyOnlineShop.Models

@model IEnumerable<ProductCategory>

@{
    ViewData["Title"] = "Product Categories";
    Layout = "_Layout";
}

<h3 class="text-center">
    Product Categories
</h3>
<hr />
<div class="text-right">
    <a class="btn btn-outline-info" asp-area="Admin"
       asp-controller="ProductCategory"
       asp-action="Create">
        <i class="fa fa-plus"> </i>
        Create Category
    </a>
</div>

<br/>


<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>twitter</td>
    </tr>
    </tbody>
</table>