@model IEnumerable<ProductCategory>

@{
    ViewData["Title"] = "Product Categories";
    ViewData["CrudController"] = "ProductCategory";
    Layout = "_Layout";
}

<h3 class="text-center">
    Product Categories
</h3>
<hr />
<div class="text-left">
    <a class="btn btn-outline-info" asp-area="Admin"
       asp-controller="ProductCategory" asp-action="Create">
        <i class="fa fa-plus"> </i>
        Create Category
    </a>
    <br /> <br />
    <button class="btn btn-outline-info fas fa-mouse" onclick="mouseClick()"></button>
</div>

<br />


<table class="table table-striped text-center" id="productCategoryTable">
    <thead class="table-dark">
        <tr>
            <th scope="col">Serial</th>
            <th scope="col">Category</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Category</td>
                <td> <partial name="_ButtonPartial" model="item.Id" /> </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts
{
    <script>
        $(function () {

            var crudMessage = '@TempData["crudMessage"]';

            if (crudMessage !== '') {
                toastr.success(crudMessage);
            }

            $('#productCategoryTable').DataTable();
        });
        

        function mouseClick() {
            toastr.success('Thanks ):');
        }
    </script>
}
