@model my_online_shop.Models.Product

@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@using my_online_shop.Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Show Product";
    Layout = "_Layout";
}

@{
    var isAddedToCard = false;

    if (HttpContextAccessor.HttpContext?.Session.GetString("SessionProducts") != null)
    {
        var sessionProducts = JsonConvert.DeserializeObject<List<Product>>
            (HttpContextAccessor.HttpContext.Session.GetString("SessionProducts"));

        isAddedToCard = sessionProducts.Any(m => m.Id == Model.Id);
    }

    var buttonValue = isAddedToCard ? "Remove from Cart" : "Add to Cart";
}

<h3 class="text-center">
    Show Product
</h3>
<hr />

<div class="card">
    <div class="card-header text-danger" asp-validation-summary="All">

    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-12 col-md-7">

                <div class="row">

                    <div class="row col-12">
                        <label asp-for="Name" class="form-check font-weight-bold col-4"></label>

                        <input asp-for="Name" class="form-control col-8" readonly>

                    </div>

                    <div class="row col-12 mt-3">
                        <label asp-for="Price" class="form-check font-weight-bold col-4"></label>

                        <input asp-for="Price" class="form-control col-8" readonly />
                    </div>


                    <div class="row col-12 mt-3">
                        <label asp-for="Color" class="form-check font-weight-bold col-4"></label>

                        <input asp-for="Color" class="form-control col-8" readonly />
                    </div>

                    <div class="row col-12 mt-3">
                        <label asp-for="CategoryId" class="form-check font-weight-bold col-4"></label>

                        <input asp-for="Category.Category" class="form-control col-8" readonly />
                    </div>

                    <div class="row col-12 mt-3">
                        <label asp-for="TagId" class="form-check font-weight-bold col-4"></label>

                        <input asp-for="Tag.Tag" class="form-control col-8" readonly />

                    </div>

                    <div class="row col-12 mt-3">
                        <label asp-for="IsAvailable" class="form-check font-weight-bold col-4"></label>

                        <input asp-for="IsAvailable" class="" type="checkbox" />
                    </div>

                </div>
            </div>

            <div class="offset-3 offset-md-0 col-9 col-md-5">
                @{
                    var imageName = string.IsNullOrWhiteSpace(Model.Image) ? "No-Image-Available.png" : Model.Image;
                }

                <img src="~/images/@imageName" class="img-fluid img-thumbnail" alt="Product Image" />
            </div>

            @{

            }
            <div class="offset-md-2 offset-4 col-md-4 mt-2">

                <form action="" method="post">
                    <input type="submit" class="btn btn-outline-info" value="@buttonValue" />
                </form>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>

    </script>
}

