
    <div class="">
        <a title="Edit" asp-action="" class="btn btn-outline-primary">
            <i class="fas fa-edit"> </i>
        </a>

        <a title="Delete" asp-action="" class="btn btn-outline-info">
            <i class="fas fa-list"> </i>
        </a>

        <a title="Delete" asp-action="" class="btn btn-outline-danger">
            <i class="fas fa-trash-alt"> </i>
        </a>
    </div>
