@model Product

@{
    ViewData["Title"] = "Update Product";
    Layout = "_Layout";
}

<h3 class="text-center">
    Update Product
</h3>
<hr />

<div>
    <a class="btn btn-outline-info" asp-area="Admin"
       asp-controller="Product" asp-action="Index">
        <i class="fas fa-arrow-left"> </i>
        &nbsp; Back to List
    </a>
</div>

<br />
<form asp-action="Update" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header text-danger" asp-validation-summary="All">

        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-12 col-md-7">

                    <div class="row">

                        <div class="row col-12">
                            <label asp-for="Name" class="form-check font-weight-bold col-4"></label>

                            <input asp-for="Name" class="form-control col-8"
                                   placeholder="Enter Product Name" />

                        </div>

                        <div class="row col-12 mt-3">
                            <label asp-for="Price" class="form-check font-weight-bold col-4"></label>

                            <input asp-for="Price" class="form-control col-8"
                                   placeholder="Enter Price" />
                        </div>

                        <div class="row col-12 mt-3">
                            <label asp-for="Image" class="form-check font-weight-bold col-4"></label>

                            <input asp-for="ImageFile" class="form-control col-8" type="file" />
                        </div>

                        <div class="row col-12 mt-3">
                            <label asp-for="Color" class="form-check font-weight-bold col-4"></label>

                            <input asp-for="Color" class="form-control col-8"
                                   placeholder="Enter Color" />
                        </div>

                        <div class="row col-12 mt-3">
                            <label asp-for="CategoryId" class="form-check font-weight-bold col-4"></label>

                            <select asp-for="CategoryId" asp-items="ViewBag.ProductCategories"
                                    class="form-control col-8"> </select>
                        </div>

                        <div class="row col-12 mt-3">
                            <label asp-for="TagId" class="form-check font-weight-bold col-4"></label>

                            <select asp-for="TagId" asp-items="ViewBag.SpecialTags"
                                    class="form-control col-8"> </select>

                        </div>

                        <div class="row col-12 mt-3">
                            <label asp-for="IsAvailable" class="form-check font-weight-bold col-4"></label>

                            <input asp-for="IsAvailable" class="" type="checkbox" />
                        </div>

                    </div>
                </div>

                <div class="offset-3 offset-md-0 col-9 col-md-5">
                    @{
                        var imageName = string.IsNullOrWhiteSpace(Model.Image) ? "No-Image-Available.png" : Model.Image;
                    }

                    <img src="~/images/@imageName" class="img-fluid img-thumbnail" alt="Product Image" />
                </div>


                <div class="offset-md-3 col-md-2 mt-2">
                    <input type="submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>

    </script>
}

