@model my_online_shop.Models.SpecialTag

@{
    ViewData["Title"] = "Show Special Tags";
    Layout = "_Layout";
}

<h3 class="text-center">
    Show Product SpecialTag
</h3>
<hr />

<div>
    <a class="btn btn-outline-info" 
       asp-controller="SpecialTag" asp-action="Index">
        <i class="fas fa-arrow-left"> </i>
        &nbsp; Back to List
    </a>
</div>

<br />

<div class="card">

    <div class="card-body">
        <div class="row">

            <div class="offset-md-3 col-md-6">
                <input asp-for="Tag" class="form-control" readonly
                       placeholder="Special-Tag Name"/>
            </div>

            <div class="offset-md-3 col-md-2 mt-2">
                <a class="btn btn-outline-info"  asp-route-id="@Model.Id"
                   asp-controller="SpecialTag" asp-action="Update">
                    <i class="fas fa-edit"> </i>
                    Update
                </a>
            </div>
        </div>
    </div>
</div>
